examples/sample-object-detection.json
[{"id":"b7815e10.be01a","type":"inject","z":"83d43c51.84e46","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":520,"wires":[["ac95f932.5fb388"]]},{"id":"ac95f932.5fb388","type":"file in","z":"83d43c51.84e46","name":"","filename":"/Users/me/my_image.jpg","format":"","chunk":false,"sendError":false,"encoding":"none","x":330,"y":520,"wires":[["d2090506.b9f878"]]},{"id":"d2090506.b9f878","type":"deepstack-object-detection","z":"83d43c51.84e46","name":"","url":"http://127.0.0.1:80/v1","confidence":"80","rejectUnauthorized":true,"drawPredictions":true,"outlineColor":"#42f5e6","filters":["person","dog","nothing"],"outputs":4,"x":570,"y":520,"wires":[["8e9c3cbf.ecd5a"],["1075e6c8.739ad9"],["c11a2522.7b1978"],["ad95a6fa.468588"]]},{"id":"2904003d.b3b4b","type":"comment","z":"83d43c51.84e46","name":"Sample object detection","info":"Sends an image for object detection to a local deepstack instance.\nWorks good with the example image from the Deepstack Object Detection documentation (https://deepstack.cc/object-detection/index.html).","x":310,"y":420,"wires":[]},{"id":"8e9c3cbf.ecd5a","type":"debug","z":"83d43c51.84e46","name":"Predictions","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":440,"wires":[]},{"id":"1075e6c8.739ad9","type":"debug","z":"83d43c51.84e46","name":"Persons","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":800,"y":480,"wires":[]},{"id":"c11a2522.7b1978","type":"debug","z":"83d43c51.84e46","name":"Dogs","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":520,"wires":[]},{"id":"ad95a6fa.468588","type":"debug","z":"83d43c51.84e46","name":"Nothing","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":800,"y":560,"wires":[]}]